body {
  font-family: sans-serif;
  width:600px;
}
div {
  height: 40vh;
}
table {
  border-collapse:collapse;
  overflow-y:hide;
}
td, th {
  border: 1px solid black;
  padding: 0.5em;
}
thead, tbody {
  display: block;
}
tbody {
  position: absolute;
  overflow-y: auto;
}