body {
  font-family: sans-serif;
  width:400px;
}
div {
  height: 40vh;
}

table {
  border-collapse:collapse;
}

td {
  border: 1px solid black;
  padding: 0.5em;
}

th {
  border: 2px solid black;
  text-align: left;
  padding: 0.5em;
}

table.scroll tbody {
  overflow-y: scroll;
}

table.auto tbody {
  overflow-y: auto;
}
